@import "./auxiliary/variables.css";
@import "./auxiliary/normalize.css";
@import "./auxiliary/reboot.css";

body {
	background-color: var(--main-bg);
}

p {
	margin: 0;
	padding: 2px;
}

button {
	border: 0;
}

.icon-svg-repaint {
	fill: var(--icons-main);
}

.App {
	width: clamp(306px, 90%, 380px);
	height: 100dvh;
	padding-top: 20px;
	margin: 0 auto;
}

.main {
	/* можно использовать как контейнер */
}


/* Кнопки единиц измерения */
.units {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.units__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11px;
	height: 50px;
	background-color: var(--units-btns-second);
	outline: none;
	opacity: 0.65;
}

.units__btn:hover:not(.units__btn--active) {	
	background-color: var(--units-btns-main);
	opacity: 0.7;
	box-shadow: 0 1px 2px 0 var(--neutral-shadow);
}

.units__btn--active {
	outline: none;
	background-color: var(--units-btns-main);
	opacity: 1;
	font-weight: 700;
	box-shadow: 1px 2px 2px 0 var(--neutral-shadow);
}

.units__btn:nth-child(1) {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.units__btn:nth-child(2) {
	/* border-left: 1px solid var(--tiles-shadow); */
	/* border-right: 1px solid var(--tiles-shadow); */
}
.units__btn:nth-child(3) {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* Продукт */
.products {
	/* контейнер для задания границ слева и справа для всех продуктов */
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
}

.product {
	/* занимает всю ширину родительского контейнера */
	/* но всё позиционирование содержимого будет в product__container 
  для красивых паддингов */
	display: grid;
	grid-template-columns: 0.88fr 0.12fr;
	height: 90px;
	margin-top: 20px;
	gap: 6px;
}

.product__controls {
	display: grid;
	justify-content: center;
	align-items: center;

}
.product__remove,
.product__clear {
	width: 32px;
	padding: 4px;
	background-color: var(--product-bg);
	box-shadow: 2px 2px 0 0 var(--tiles-shadow);
}
.product__remove:active,
.product__clear:active {
	box-shadow: 0 0 0 0;
}

.product__main {
	/* прямой родительский контейнер для всей начинки */
	display: grid;
	grid-template-areas:
		"a b e"
		"c d e";
	grid-template-columns: 1.2fr 1fr 2fr;
	align-items: center;
	gap: 7px;
	padding: 6px 4px;
	background-color: var(--product-bg);
	box-shadow: 2px 2px 0 0 var(--tiles-shadow);
	
}


/* Инпуты и лейблы к ним */
.product__label--unit {
	grid-area: a;
}
.product__label--price {
	grid-area: c;
}
.product__input--unit {
	grid-area: b;
}
.product__input--price {
	grid-area: d;
}

.product__input {
	outline: none;
	max-width: 64px;
	border-radius: 4px;
	border: 1.4px solid var(--input-border);
	background-color: var(--input-bg);	
	box-shadow: 0 0 0 0.4px var(--input-shadow);
	text-align: right;
}
.product__input:hover {
	box-shadow: 0 0 0 1px var(--input-hover-shadow);
}
.product__input:focus {
	box-shadow: 0 0 0 1.6px var(--input-focus-shadow);
}
.product__input--focus {
	box-shadow: 0 0 0 1.6px var(--input-focus-shadow);
}

.product__label {
	margin-left: 2px;
	font-weight: 700;
	font-size: 14px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Результат */
.product__result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 88px;
	grid-area: e;
	margin-left: 3px;
	background-color: var(--neutral-price-bg);	
	box-shadow: -3px 0 0 var(--neutral-price-shadow);

	font-size: 13px;
	font-weight: 700;
}

.product__result--best-price {
	background-color: var(--best-price-bg);
	box-shadow: -3px 0 0 var(--best-price-shadow);
}
.product__result--second-price {
	background-color: var(--second-price-bg);
	box-shadow: -3px 0 0 var(--second-price-shadow);
}
.product__result--third-price {
	background-color: var(--third-price-bg);
	box-shadow: -3px 0 0 var(--third-price-shadow);
}
.product__result--worst-price {
	background-color: var(--worst-price-bg);
	box-shadow: -3px 0 0 var(--worst-price-shadow);
}

.products__addnew {
	margin-top: 30px;
	height: 90px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-content: center;
	background-color: var(--product-bg);
	box-shadow: 2px 2px 0 0 var(--tiles-shadow);
}
.products__addnew:active {
	box-shadow: 0 0 0 0 var(--tiles-shadow)
}
.products__addnew svg {
	padding-top: 12px;
}
.products__addnew p {
	margin: 12px;
}

.units,
.product__main,
.product__result,
.product__remove,
.product__clear,
.products__addnew {
	border-radius: 10px;
}
