:root {
   /* Главный фон */
   /* --main-bg: white; */
   /* --main-bg: #ffe49efb; */
   --main-bg: #8997a7;
   --error: #f44336;
   --success: #7ea83e;


   /* svg-иконки */
   --icons-main: #d54a50;
   /* --icons-main: orange; */

   /* продукты */
   /* --product-bg: #e3e0d1; */
   --product-bg: #fdfdfd;

   /* кнопки единиц измерения */
   --units-btns-main: #fdfdfd;
   --units-btns-second: #f5f5f5;

   /* числовые инпуты  */
   --input-bg: #fdfdfd;
   --input-shadow: #f5f5f5;
   --input-border: #c0aa98;
   --input-hover-shadow: #F18F01;
   --input-focus-shadow: #F18F01;   

   /* тени */
   --neutral-shadow: rgba(0, 0, 0, 0.5);
   --tiles-shadow: rgba(0, 0, 0, 0.5);

   /* результат */
   /* --neutral-price-shadow: #888292; */
   /* --neutral-price-bg: lightgray; */
   /* --neutral-price-bg: #dbdbdb; */
   --neutral-price-shadow: #c0aa98;
   --neutral-price-bg: #dfd1c5;

   --best-price: #4EB052;
   --best-price-bg: #E8F5E9;

   --mid-price: #FFD900;
   --mid-price-bg: #FFEA73;

   --worst-price: #F44538;
   --worst-price-bg: #FFEBEE;

   /* --popup-overlay: rgba(0, 0, 0, 0.5); */
   /* --main-font: "Montserrat", "Helvetica", sans-serif; */
   /* --animation: 0.155s ease-in-out; */
}