:root {

   /* Общее  */
   --app-bg: #cbd6c8;
   --error: #f44336;
   --success: #7ea83e;

   /* svg-иконки */
   --icons-main: #d54a50;

   /* продукты */
   --product-bg: #fdfdfd;

   /* кнопки единиц измерения */
   --units-btns-main: #fdfdfd;
   --units-btns-second: #f5f5f5;

   /* числовые инпуты  */
   --input-bg: #fdfdfd;
   --input-shadow: #f5f5f5;
   --input-border: #c0aa98;
   --input-hover-shadow: #F18F01;
   --input-focus-shadow: #F18F01;

   /* бордеры */
   /* --default-border: lightgray; */

   /* тени */
   --neutral-shadow: rgba(0, 0, 0, 0.5);
   --tiles-shadow: rgba(0, 0, 0, 0.5);   
   --neutral-price-shadow: #c0aa98;

   /* Цветовая индикация цен  */
   --neutral-price-bg: #f7eee4;
   --best-price: #4EB052;
   --best-price-bg: #f7eee4;

   --mid-price: #F18F01;
   --mid-price-bg: #f7eee4;

   --worst-price: #F44538;
   --worst-price-bg: #f7eee4;

}